html, body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Hedvig Letters Serif', serif;
}
/* Navbar style */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.container img {
    transform: scale(80%);
    float: left;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/* Hero Section */
.hero img {
    height: 300px;
}
/* About Me section */
.aboutme img {
    height: 300px;
}
.name {
    color: rgb(116, 38, 38);
}
/* Card Section */
.work img {
    height: 200px;
}
.contactme img {
    height: 200px;
}
.resume img {
    height: 200px;
}
/* Footer */
footer img {
    transform: scale(50%);
}
.card {
    max-width: 540px;
    
}